<form  #userform="ngForm" (ngSubmit)="data(userform.value)">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"  ngModel [(ngModel)]="email">
     
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="password"  ngModel [(ngModel)]="password">
     
    </div>
   
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



<table>
    <tr>
        <th>Email</th>
        <th>Password</th>
    </tr>
    <tr>
        <td>
            {{email}}
        </td>
        <td>{{password}}</td>
    </tr>
</table>